<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body style="background-image: url('https://scontent.fhan12-1.fna.fbcdn.net/v/t1.6435-9/166838962_827133861495290_2936284550306672574_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=qG8Qg8t3IqAAX-qlWsw&tn=ZEbMVL-NOS-JqgDI&_nc_ht=scontent.fhan12-1.fna&oh=00_AfCx6jl_VQXjJo71OjB8xyNU5tA7bqS26litfYEwiYNQsw&oe=6386FE45')">
    <script type="text/javascript">

        function testConfirmDialog()  {

            var result = confirm("Bạn có muốn trở về HaNa không ?");

        }

     </script>

  </head>
  <body>
     <button onclick="testConfirmDialog()">
        <img src="https://scontent.fhan12-1.fna.fbcdn.net/v/t1.6435-9/166838962_827133861495290_2936284550306672574_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=qG8Qg8t3IqAAX-qlWsw&tn=ZEbMVL-NOS-JqgDI&_nc_ht=scontent.fhan12-1.fna&oh=00_AfCx6jl_VQXjJo71OjB8xyNU5tA7bqS26litfYEwiYNQsw&oe=6386FE45'" alt="">
    </button>
</body>
</html>